
.botones{
    display: flex;
    float: right;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 2vw;
}

#aLog{
    text-decoration: none;
    color: black;
}

#aReg{
    text-decoration: none;
    color: black;
}

#butLog{
    margin-right: 2vw;
}
#butReg :hover{
    color: white;
}

.container{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    box-shadow: 0px 0px 15px 10px whitesmoke;
}
.imgIndex{
    width: 30vw;
    height: 30vh;
    padding-bottom: 30px;
    padding-top: 30px;
}

.cText{
    text-align: center;
    flex-direction: column;
    margin-top: 35px;
    font-family: monospace;
}
.formLog{
    margin: 10vw 20vw 30vw 25vw;
    width: 50vw;
}

#formReg{
    width: 90%;
    margin: 5vw;
}

#butSea{
    color: white;
    border-color: black;
    background-color: black;
}
#butSea:hover{
    transform: scale(1.1 );
}

#login{
    color: white;
    text-decoration: none;
}

#netImg{
    width: 2vw;
    height: 4vh;
}

#netBtn{
    border: none;
    margin-right: 50px;
    margin-bottom: 3px;
}

#BtnAgregar{
    background-color: black;
    color: blanchedalmond;
    border: thin;
    border-radius: 70%;
    width: 5vw;
    height: 10vh;
    font-size: 35px;
    float: right;
    margin-bottom: 20px;
    margin-right: 25px;
    scroll-behavior: auto;
}

#aAgg{
    color: white;
    text-decoration: none;
}

#input-task{
    margin: 5vw 5vw 10vw 20vw;
    border-radius: 5%;
    width: 40vw;
    height: 7vh;
    border-style: double;
    border-color: black;
}

footer{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.showPer{
    display: flex;
    flex-direction: column;
}

.ccc{
    display: flex;
    flex-direction: column;
    margin: 50px 0 50px 0;
}

#listaPost{
    justify-content: center;
}

#Posts{
    display: flex;
    flex-direction: column;
}

#msj{
    justify-content: center;
    text-align: flex-start;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}

#iyb{
    align-items: center;
    justify-content: flex-start;
    border-style: double;
}

#elem{
    border-top: solid 1px gainsboro;
    margin: 20px;
    text-decoration: none;
    text-align: flex-start;
    padding-top: 17px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
}

.divPrueba{
    width: 30vw;
    height: 20vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-style: outset;
    margin: 20px;
    padding-top: 30px;
}

.datos{

}

.uEdad{

}

.hPerfiles{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    box-shadow: 0px 0px 15px 10px whitesmoke;
    
}